.composition{
    position: relative;
    transition: all .2s ease-in-out;
    
    &-img{
        position: absolute;
        border-radius: 3px;
        box-shadow: 0 1rem 2.5rem rgba($color-dark,0.2);
        transition: all .2s ease-in-out;

        &:nth-child(1){
            left: 0;
            top: -1.25rem;
        }

        &:nth-child(2){
            top: 1.25rem;
            right: -5.625rem;
        }

        &:nth-child(3){
            top: 6.25rem;
            left: 20%;
        }

        &:hover,&:focus{
            transform: scale(1.1);
            box-shadow: 0 1rem 2.5rem rgba($color-dark,0.4);
            outline: 1rem solid $color-primary-dark;
            outline-offset: 1rem;
            z-index: 10;
        }
    }
    &:hover &-img:not(:hover){
        transform: scale(.9);
    }
}