
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

.row{
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"]{
    padding: 0 15px;
}